html {
  height: 100%;
}

body
{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(255, 255, 255);
  padding: 3%;
  text-align: center;
  /* background-color: #ebedee; */
  
  /* The image used */
  background-image: url("https://wallpaperaccess.com/full/1679635.jpg");
  
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Username, #Numseats
{
  border:none;
  background-color: rgb(236, 236, 236);
}

.reserved::before
{
  background:#E34234 !important;
  cursor: not-allowed;
}

.seatGap
{
  width:20px;
}

table
{
  text-align: center;
  margin: auto;
}

.Displaytable
{
  text-align:center;
}

.Displaytable td, .Displaytable th {
    border: 1px solid;
    border-color: #e2e2e2;
    text-align: center;
}

#notification>b
{
  margin-bottom:0px;
}

input[type=checkbox] {
    width:0px;
    margin-right:18px;
}

input[type=checkbox]:disabled {
  cursor: not-allowed;
}

input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 238, 238, 0.8);
    background-color:rgb(236, 236, 236);
}

input[type=checkbox]:checked:before {
    background-color:#7FFF00;
    font-size: 15px;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: #4B9CD3;
  padding: 1%;
  border-radius: 30px;
}
.btn:hover { 
  background-color: rgb(73, 150, 201); 
}

button:disabled {
  cursor: not-allowed;
  color: rgb(190, 190, 190);
}

.btn2 {
  color: rgb(255, 255, 255);
  background-color: #7FFF00;
  padding: 1%;
  border-radius: 30px;
}
.btn2:hover { 
  background-color: rgb(119, 238, 0); 
}